<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/footer.css">
  
</head>
<body>
  <center>
    <footer>
      <div class="footer content">
        <h3>JHR</h3>
        <p>Buscamos una experiencia de desarrollo diferente, en la que el cliente pueda sumergirse
          en el proceso de creación de su pagina soñada
        </p>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy;2020JHR DEVELOPER´S. designed by <span>Alexis R.</span></p>
      </div>
    </footer>
  </center>
</body>
</html>