<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="Acerca.css">
    <!--Estilos letra-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Dancing+Script:wght@500&family=Lobster&family=Montserrat:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <section class="contenedor-titulo-acerca">
            <div class="ancla-acerca" id="acerca"><h3>–</h3></div>
            <h2 class="titulo-acerca">¿Quien soy?</h2>
            <div class="ancla-end-acerca"><h3>–</h3></div>
        </section>
        <section class="servicios">
            <section class="contenedor servicios">
         
                <div class="contenedor-servicios">
                    <img src="Ilustraciones/alexis.png" alt="No se pudo cargar" class="alexis-img" >
                    <div class="contenido-textos">
                        <h3>Persona.</h3>
                        <p>Mi nombre es Heyder Alexis Rojas Pineda, vivo en Bogotá - Colombia y tengo 17 años, actualmente estoy
                             en proceso de aprendizaje dentro del mundo de la programación desde cursos distritalmente certificados,
                              aspiro iniciar una carrera universitaria.</p>
                        <h3>Desarrollador.</h3>
                        <p>Actualmente cuento con conocimientos basicos de lenguajes programación y etiquetas de frontend como JS, 
                            HTML y CSS. Además en el backend domino Node.js y C++.</p>
                        <h3>Propuestas.</h3>
                        <p>Con los fundamentos adquiridos hasta el momento busco emprender mi mundo laboral desde proyectos de menor escala
                             hasta de gran magnitud, esto con el fin de aprender e iniciar finalmente un grupo de desarrolladores, programadores
                             y diseñadores que creen una experiencia totalmente nueva al cliente.</p>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
</html>
