<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="Contacto.css">
    <!--Tipografía-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text&family=Yanone+Kaffeesatz:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="contenedor-titulo-contacto">
            <div class="ancla-contacto" id="contacto"><h3>|</h3></div>
            <h2 class="titulo-contacto">CONTACTO</h2>
            <div class="ancla-contacto-end"><h3>|</h3></div>
        </section>
        <section class="contacto">
        <section class="contenedor-contacto">
            <img class= "contact-img" src="Ilustraciones/Contact.png" alt="">
            <div class="contenido-textos-contacto">
                <h2>Si requieres nuestros servicios, puedes contactarnos por medio de nuestras redes sociales, correo electronico o ¡llamanos!</h2>
                <div class="galeria-contacto">
                <div class="Gmail"><img src="Ilustraciones/Gmail.png" alt="Gmail.ico" class="Gmail.ico" height="100x100">
                        <span class="Gmail-text">heyderrojas2003@gmail.com</span>
                    </div>
                 <div class="Whats"><img src="Ilustraciones/WhatsApp.png" alt="Whats.ico" class="Whats.ico" height="100x100">
                        <span class="Whats-text"><b>+57</b> 313 373 14 46</span>
                    </div>
                </div>
                    <section class="contenedor-img-contacto">
                        <a class="img-contact" href="https://www.facebook.com/alexisrojas0107/"><img src="Ilustraciones/Facebook1.png" alt="Facebook.icon" height="100x100"></a>
                        <a class="img-contact" href="https://www.instagram.com/alexis_jhr/?hl=es-la"><img src="Ilustraciones/Instagram.png" alt="Instagram.icon" height="100x100"/></a>
                    </section>
            </div>
        </section>
        </section>
    </main>
</body>
</html>