<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Servicios.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Langar&family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="contenedor-titulo">
        <div class="ancla" id="servicios"><h3>•</h3></div>
        <h2 class="titulo-servicios">SERVICIOS</h2>
        <div class="ancla-end"><h3>•</h3></div>
    </section>
    <main>
        <section class="servicios">
            <section class="contenedor servicios">
                
                <div class="contenedor-servicios">
                    <img src="Ilustraciones/life.png" alt="No se pudo cargar" class="imagen-programming" >
                    <div class="contenido-textos">
                        <h3><span>1</span>Diseño de paginas web creativas e inmersivas.</h3>
                        <p>Su pagina web generara interes por su producto entre los usuarios, esto gracias a la autenticidad que nos caracteriza.</p>
                        <h3><span>2</span>Creación, manejo y diseño de bases de datos seguras e interactivas.</h3>
                        <p>¡No te quedes atras! Las bases de datos mueven el mundo actualmente, por eso necesitas una base de datos segura e interactiva para tu empresa.</p>
                        <h3><span>3</span>Programación y automatización de aplicaciones adaptables.</h3>
                        <p>Para todo tipo de servicio podemos diseñar y crear aplicaciones de mesa adaptables a dispositivos moviles.</p>
                    </div>
                </div>
            </section>
        </section>
    </main>
    
</body>
</html>
