.title{
    color:#c08d69;
    font-size:30px;
}
body{
    background-color:rgb(38, 36, 36);
    font-family:'Oswald', sans-serif;
    font-size: large;
    color: #c08d69;
}
.textos-header{
    padding: 20px 20px;
    padding-top: 2px;
    width: 100%;
}









